<style type="text/css";>
  body {
    background-color: #405b76
  }
  
  h1 {
    color: #aeaeae;
  }
  
  p {
    color: #aeaeae;
  }
  
  img {
    float:left;
  }

  .tab {margin-left: 40px;}
</style>